
#root {
  width: 100%;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Custom CSS */
.header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__name, .header__date {
  margin-block: 0;
}

.new-habit-ctrl {
  float: left;
}

.new-habit-ctrl::after {
  content: '';
  display: table;
  clear: both;
}

.header__date-ctrl {
  display: flex;
  align-items: center;
}

.header__date-ctrl .ctrl-btn {
  padding-block: .4em .6em;
  padding-inline: 1em;
  margin-inline: 1em;
}

.header__view-toggle--listview {
  background-color: darkseagreen;
  color: #fff;
}

.header__view-toggle:hover {
  background-color: #93b893;
  border: 1px solid #93b893;
}

.listview {
  height: 90%;
}

.listview .ctrl-btn {
  margin-inline-end: .5em;
  margin-block-end: .1em;
}

.toggle__icon {
  margin-inline-end: .6em;
}

.habit-table {
  width: 100%;
  margin-block: 1em;
}

.habit-table thead {
  border-top: 2px lightgray solid;
}

.habit-list {
  width: 200px;
  padding-block: 1em;
}

.habit-list__title {
  text-align: justify;
  cursor: pointer;
}

.habit-dates__label {
  padding-block: 1em;
  color: darkslategray;
  table-layout: fixed;
  width: 130px;
}

.habit-dates__label > p {
  margin-block: 0;
}

.habit-dates__cells:hover {
  background-color: #f5faf5;
  cursor: pointer;
  border-radius: 10px;
}

.habit-dates__label--day {
  font-size: 1.5em;
}

.habit-points__header {
  font-weight: 500;
  color: mediumseagreen;
}

.habit-details__item {
  margin-block: 1em;
}

.habit-details__item--description {
  margin-block: 0;
  margin-inline: 1em;
}

.modal-body {
  padding: 0;
  margin-inline: 1.5em;
}

.habit-delete {
  background-color: #c58888;
  color: #fff;
  margin: 0;
}

.habit-delete:hover {
  border: 1px solid #bd8181;
  background-color: #bd8181;
}

.new-habit-ctrl {
  background-color: #d0e7d0;
  color: #156641;
}

.modal-header,
.modal-footer {
  padding: 1.25em 1.5em;
}

.form__submit-btn, 
.form__cancel-btn {
  margin: 0;
  width: 90px;
}

.form__submit-btn {
  color: #fff;
  background-color: darkseagreen;
  border: 1px solid darkseagreen;
  margin-inline-start: 1em;
}

.form__cancel-btn {
  color: darkseagreen;
  border: 1px solid darkseagreen;
}

.form__submit-btn:hover,
.form__cancel-btn:hover {
  border: 1px solid darkseagreen;
}

/* .garden__grid {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: darkseagreen;
} */

.garden {
  background-color: #d5f7d6;
  margin-inline: auto;
  margin-block: 2%;
  border-radius: 15px;
  height: 80%;
}

.garden__grid-plant {
  font-size: 2.5em;
  padding-block: .7em;
}

.garden__grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.garden__grid-plant:hover {
  border-radius: 15px;
  cursor: pointer;
  background-color: #72a172;
}

/* .garden__grid-plant:not(:nth-child(5n)) {
  border-inline-end: 2px solid #fff;
} */

